@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breath-light {
  0%,
  100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0.6; /* Slightly dimmed */
  }
}

.animate-breath {
  animation: breath-light 2s ease-in-out infinite; /* Smooth pulsing effect */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) url("/orange-day-background.png") no-repeat
    fixed center center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
